@model CoffeeMaker.Entities.Drinks

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Drinks</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DrinkName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DrinkName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CoffeeBeans)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CoffeeBeans)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Sugar)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sugar)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Milk)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Milk)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
